.list {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

.list-item {
    margin-top: 10px;
    border: 1px solid #7f8c8d;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    height: 100px;
}

.header {
    height: 30px;
    text-align: left;
    line-height: 30px;
    padding-left: 10px;
}

.list-item:nth-child(odd) .header {
    background-color: pink;
}

.list-item:nth-child(even) .header {
    background-color: palegreen;
}

.content {
    height: 70px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
}

.content .slogon {
    width: 300px;
}

.content .out {
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: #fdbb2d;
    color: white;
}

.content .in {
    width: 50px;
    height: 25px;
    text-align: center;
    line-height: 25px;
    background-color: forestgreen;
    color: white;
}

.content .money {
    width: 100px;
}

.content .delete {
    visibility: hidden;
}

.content:hover .delete {
    visibility: visible;
}
