<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h2>文件上传</h2>
<form action="/portrait" method="post" enctype="multipart/form-data">
    用户名：<label>
        <input type="text" name="username">
    </label>
    头像： <input type="file" name="portrait">
    <input type="submit">
</form>
<hr>
</body>
</html>